body {
    background-color: #eee;
}

header {
    text-align: center;
    padding: 40px 15px 5px;
}

nav {
    background-color: #48c0c0;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    border: #41afaf solid;
    border-width: 0 1px;
    color: #fff;
    padding: 10px 11px;
    margin-left: -1px;
    transition: all 0.2s ease;
}

nav > ul > li:hover {
    background-color: #41afaf;
    transition: all 0.2s ease;
}

main > article.ui.card {
    background-color: #fff;
    padding: 10px 15px;
}

.ui.breadcrumb {
    padding: 5px;
}

.ui.cards > .card > .content > .header, .ui.card > .content > .header {
    font-family: inherit;
}