<div class="ui breadcrumb">
  <a class="section"><i class="home icon"></i> ホーム</a>
  <i class="right angle icon divider"></i>
  <a class="section">電子回覧板</a>
  <i class="right angle icon divider"></i>
  <div class="active section">回覧板一覧</div>
</div>
<article class="ui fluid card">
  <div class="content">
    <div class="header">〇〇について</div>
    <div class="meta">2 日前</div>
    <div class="description">
      <p>△月□日、☆☆広場で〇〇イベントが開催されます。</p>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="icon list"></i>
      詳細を見る
    </a>
  </div>
</article>
