<div class="ui breadcrumb">
  <a class="section"><i class="home icon"></i> ホーム</a>
  <i class="right angle icon divider"></i>
  <a class="section"><i class="clipboard icon"></i> 電子回覧板</a>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="list icon"></i> 回覧板一覧</div>
</div>
<br>
<br>
<button id="create" class="ui positive left labeled icon button">
  <i class="plus icon"></i>
  新しい回覧板を作成する
</button>
<section id="boards">
  <article class="ui fluid card" v-for="board in boards">
    <div class="content">
      <div class="header">{{ board.document.title }}</div>
      <div class="meta">
        <i class="clock outline icon"></i>
        {{ board.created_at | moment }}
      </div>
      <div class="description">
        <p>{{ board.document.content | summary }}</p>
      </div>
    </div>
    <div class="extra content">
      <a class="ui button" :href="'/board.view?id=' + board.id">
        <i class="book icon"></i>
        読む
      </a>
    </div>
  </article>
</section>
