<div class="ui breadcrumb">
  <a class="section"><i class="home icon"></i> ホーム</a>
  <i class="right angle icon divider"></i>
  <a class="section"><i class="clipboard icon"></i> 電子回覧板</a>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="book icon"></i> 回覧板の詳細</div>
</div>
<br>
<br>
<a href="/boards.view" class="ui primary left labeled icon button">
  <i class="backward icon"></i>
  一覧へ戻る
</a>
<section id="board">
  <article class="ui fluid card">
    <div class="content">
      <div class="header">{{ document.title }}</div>
      <div class="meta">
        <i class="user icon"></i>
        {{ document.author.name }},
        <i class="clock outline icon"></i>
        {{ created_at | moment }}
      </div>
      <div class="description">
        <p v-html="$options.filters.replaceLineBreaks(document.content)"></p>
      </div>
    </div>
  </article>
</section>
