<div class="ui breadcrumb">
  <div class="section"><i class="home icon"></i> ホーム</div>
  <i class="right angle icon divider"></i>
  <div class="section"><i class="clipboard icon"></i> 回覧板</div>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="plus icon"></i> 新しい回覧板</div>
</div>
<h3>新しい回覧板</h3>
<section id="create-post">
  <div class="ui stackable one column grid">
    <div class="column">
      <form class="ui form">
        <div class="field">
          <label>タイトル</label>
          <input id="title" type="text" placeholder="クリックまたはタップして入力">
        </div>
        <div class="field">
          <label>内容</label>
          <textarea id="content" placeholder="クリックまたはタップして入力"></textarea>
        </div>
        <button id="submit" class="ui positive left labeled icon button" type="button">
          <i class="send icon"></i>
          配信する
        </button>
      </form>
    </div>
  </div>
</section>
