<div class="ui breadcrumb">
  <div class="section"><i class="home icon"></i> ホーム</div>
  <i class="right angle icon divider"></i>
  <div class="section"><i class="secret user icon"></i> サービス管理パネル</div>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="plus icon"></i> 新しいユーザの種類</div>
</div>
<br>
<br>
<a href="/types.view"
   class="ui primary left labeled icon button">
  <i class="backward icon"></i>
  一覧へ戻る
</a>
<h3>新しいユーザの種類</h3>
<section id="create-user">
  <div class="ui stackable one column grid">
    <div class="column">
      <form class="ui form">
        <div class="field">
          <label>名前</label>
          <input id="name" type="text" placeholder="クリックまたはタップして入力">
        </div>
        <div class="field">
          <label>権限</label>
          <div id="permissions">
            <div class="permission" v-for="permission in permissions">
              <div class="ui toggle checkbox">
                <input type="checkbox" tabindex="0"
                       class="hidden permission-toggle"
                       :data-id="permission.id">
                <label>{{ permission.name }}</label>
              </div>
              <br>
            </div>
          </div>
        </div>
        <button id="submit" class="ui positive left labeled icon button" type="button">
          <i class="send icon"></i>
          作成する
        </button>
      </form>
    </div>
  </div>
</section>
