<div class="ui breadcrumb">
  <a class="section"><i class="home icon"></i> ホーム</a>
  <i class="right angle icon divider"></i>
  <a class="section"><i class="comments icon"></i> 掲示板</a>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="list icon"></i> 投稿一覧</div>
</div>
<h3>新しい投稿</h3>
<section id="create-post">
  <div class="ui stackable one column grid">
    <div class="column">
      <form class="ui form">
        <div class="field">
          <label>タイトル</label>
          <input id="title" type="text" placeholder="クリックまたはタップして入力">
        </div>
        <div class="field">
          <label>内容</label>
          <textarea id="content" placeholder="クリックまたはタップして入力"></textarea>
        </div>
        <button id="submit" class="ui positive left labeled icon button" type="button">
          <i class="send icon"></i>
          投稿する
        </button>
      </form>
    </div>
  </div>
</section>
