<div class="ui breadcrumb">
  <div class="section"><i class="home icon"></i> ホーム</div>
  <i class="right angle icon divider"></i>
  <div class="section"><i class="secret user icon"></i> サービス管理パネル</div>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="plus icon"></i> 新しい地域</div>
</div>
<br>
<br>
<a href="/regions.view" class="ui primary left labeled icon button">
  <i class="backward icon"></i>
  サービス管理パネルへ戻る
</a>
<h3>新しい地域</h3>
<section id="create-region">
  <div class="ui stackable one column grid">
    <div class="column">
      <form class="ui form">
        <div class="field">
          <label>名前</label>
          <input id="name" type="text" placeholder="クリックまたはタップして入力">
        </div>
        <button id="submit" class="ui positive left labeled icon button" type="button">
          <i class="send icon"></i>
          作成する
        </button>
      </form>
    </div>
  </div>
</section>
