<div id="group">
  <div class="ui breadcrumb">
    <div class="section"><i class="home icon"></i> ホーム</div>
    <i class="right angle icon divider"></i>
    <div class="section"><i class="group icon"></i> 団体管理パネル</div>
    <i class="right angle icon divider"></i>
    <div class="active section"><i class="pencil icon"></i> 団体の編集</div>
  </div>
  <br>
  <br>
  <a href="/users.view" class="ui primary left labeled icon button">
    <i class="backward icon"></i>
    団体管理パネルへ戻る
  </a>
  <h3>団体の編集</h3>
  <section id="create-group">
    <div class="ui stackable one column grid">
      <div class="column">
        <form class="ui form">
          <div class="field">
            <label>名前</label>
            <input id="name" type="text" placeholder="クリックまたはタップして入力"
                   :value="name">
          </div>
          <div class="field">
            <label>説明</label>
            <div id="editor" placeholder="クリックまたはタップして入力"></div>
          </div>
          <button id="submit" class="ui positive left labeled icon button" type="button">
            <i class="send icon"></i>
            送信する
          </button>
        </form>
      </div>
    </div>
  </section>
</div>
