<div class="ui breadcrumb">
  <a class="section"><i class="home icon"></i> ホーム</a>
  <i class="right angle icon divider"></i>
  <a class="section"><i class="calendar alternate icon"></i> イベント</a>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="book icon"></i> イベントの詳細</div>
</div>
<br>
<br>
<a href="/events.view" class="ui primary left labeled icon button">
  <i class="backward icon"></i>
  一覧へ戻る
</a>
<section>
  <div class="ui stackable grid">
    <div id="document" class="eleven wide column">
      <article class="ui fluid card">
        <div class="content">
          <div class="header">
            <h3>{{ title }}</h3>
          </div>
          <div class="meta">
            <i class="user icon"></i>
            {{ author.name }},
            <i class="clock outline icon"></i>
            {{ created_at | moment }}
          </div>
          <div class="description">
            <p v-html="$options.filters.replaceLineBreaks(content)"></p>
          </div>
        </div>
      </article>
    </div>
    <div class="five wide column">
      <div id="event" class="ui card">
        <div class="content event-date">
          <div class="header">
            <h3>開催日時</h3>
          </div>
          <br>
          <p>{{ date | year }} 年</p>
          <h1>
            {{ date | month }}
            <small>月</small>
            {{ date | day }}
            <small>日</small>
          </h1>
          <p>({{ date | dayOfWeek }}) {{ date | time }}～</p>
        </div>
        <div class="extra content">
          <button class="ui positive left labeled icon button join-event"
                  :data-event="id">
            <i class="user plus icon"></i>
            参加登録する
          </button>
        </div>
      </div>
      <div id="attendances" class="ui card">
        <div class="content event-date">
          <div class="header">
            <h3>
              参加者
              <span class="ui large circular label">
                {{ count }}
              </span>
            </h3>
          </div>
          <br>
          <div v-for="attendance in attendances">
            <i class="large user icon"></i>
            {{ attendance.user.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
