<div class="ui breadcrumb">
  <a class="section"><i class="home icon"></i> ホーム</a>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="sign in alternate icon"></i> ログイン</div>
</div>
<br>
<form class="ui form login">
  <div class="field">
    <div class="ui action large input">
      <textarea id="token" placeholder="トークン"></textarea>
    </div>
  </div>
</form>
<br>
<div class="ui two column stackable grid">
  <div class="column">
    <button class="ui negative fluid large button" id="backspace">
      <i class="left angle icon"></i> 一文字消す
    </button>
  </div>
  <div class="column">
    <button class="ui positive fluid large button" id="login">
      ログイン <i class="right angle icon"></i>
    </button>
  </div>
</div>
<div id="keyboard">
  <button class="ui button" v-for="(alphabet, kana) in kanaDb">{{ kana }}</button>
</div>
