<div id="created-board" class="ui basic modal">
  <div class="ui icon header">
    <i class="check icon"></i>
    回覧板を配信しました
  </div>
  <div class="actions">
    <div class="ui positive inverted button">
      <i class="checkmark icon"></i>
      OK
    </div>
  </div>
</div>
<div id="created-post" class="ui mini modal">
  <div class="header">
    投稿が完了しました
  </div>
  <div class="content">
    <div class="description">
      <div class="header">
        <h3>
          <!--<img class="ui avatar image" src="img/siketyan.jpg">-->
          <i class="large user icon"></i>
          {{ document.author.name }}
        </h3>
      </div>
      <h4>{{ document.title }}</h4>
      <p>{{ document.content }}</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive left labeled icon button">
      <i class="backward icon"></i>
      掲示板に戻る
    </div>
  </div>
</div>
<div id="created-profile" class="ui basic modal">
  <div class="ui icon header">
    <i class="check icon"></i>
    プロフィールを送信しました
  </div>
  <div class="actions">
    <div class="ui positive inverted button">
      <i class="checkmark icon"></i>
      OK
    </div>
  </div>
</div>
