<div id="wrapper">
  <div class="ui breadcrumb">
    <a class="section"><i class="home icon"></i> ホーム</a>
    <i class="right angle icon divider"></i>
    <a class="section"><i class="address card icon"></i> マイページ</a>
    <i class="right angle icon divider"></i>
    <div class="active section"><i class="user icon"></i> {{ profile.user.name }}</div>
  </div>
  <section id="profile">
    <div class="ui stackable one column grid">
      <div class="column">
        <article class="ui fluid card">
          <div class="content">
            <div class="header">
              <!--<img class="ui avatar image" src="img/siketyan.jpg">-->
              <i class="large user icon"></i>
              {{ profile.user.name }}
            </div>
            <div class="description">
              <ul class="ui list">
                <li>趣味: {{ profile.hobbies }}</li>
                <li>好物: {{ profile.favorites }}</li>
                <li>座右の銘: {{ profile.mottoes }}</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <h3>{{ profile.user.name }} さんの投稿</h3>
  <section id="posts">
    <div class="ui stackable two column grid">
      <div class="column" v-for="post in posts">
        <article class="ui fluid card post-card user-post">
          <div class="content">
            <div class="description">
              <h4>{{ post.document.title }}</h4>
              <p>{{ post.document.content }}</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>
