<div class="ui breadcrumb">
  <a class="section"><i class="home icon"></i> ホーム</a>
  <i class="right angle icon divider"></i>
  <a class="section"><i class="address card icon"></i> マイページ</a>
  <i class="right angle icon divider"></i>
  <div class="active section"><i class="user icon"></i> Siketyan</div>
</div>
<section id="profile">
  <article class="ui fluid card">
    <div class="content">
      <div class="header">
        <img class="ui avatar image" src="img/siketyan.jpg"> {{ user.name }}
      </div>
      <div class="description">
        <ul class="ui list">
          <li>趣味: {{ hobbies }}</li>
          <li>好物: {{ favorites }}</li>
          <li>座右の銘: {{ mottoes }}</li>
        </ul>
      </div>
    </div>
  </article>
</section>
<h3>Siketyan さんの投稿</h3>
<section id="posts">
  <div class="ui stackable two column grid">
    <div class="column">
      <article class="ui fluid card">
        <div class="content">
          <div class="header">
            <img class="ui avatar image" src="img/siketyan.jpg"> Siketyan
          </div>
          <div class="description">
            <p>投稿</p>
          </div>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="ui fluid card">
        <div class="content">
          <div class="header">
            <img class="ui avatar image" src="img/siketyan.jpg"> Siketyan
          </div>
          <div class="description">
            <p>投稿</p>
          </div>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="ui fluid card">
        <div class="content">
          <div class="header">
            <img class="ui avatar image" src="img/siketyan.jpg"> Siketyan
          </div>
          <div class="description">
            <p>投稿</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>