body {
    background-color: #eee;
}

header {
    text-align: center;
    padding: 40px 15px 5px;
}

nav {
    background-color: #48c0c0;
    margin: 25px 0 40px;
}

main > article.ui.card {
    background-color: #fff;
    padding: 10px 15px;
}

.nav-grid-left {
    border-left: 1px solid #eee;
}

.nav-grid-right {
    border-right: 1px solid #eee;
}

.nav-column {
    border: solid #eee;
    border-width: 0 1px;
    color: #fff;
    text-align: center;
}

.ui.breadcrumb {
    padding: 5px;
}

.ui.cards > .card > .content > .header, .ui.card > .content > .header {
    font-family: inherit;
}

@media (max-width: 768px) {
    .nav-grid-left {
        border-left: none;
        border-bottom: 1px solid #eee;
    }

    .nav-grid-right {
        border-right: none;
        border-top: 1px solid #eee;
    }
}