body {
    background-color: #dcdcdc;
}

header {
    text-align: center;
    padding: 40px 15px 5px;
}

nav {
    background-color: #228b22;
    margin: 25px 0 40px;
}

nav a {
    transition: color .2s;
}

nav a:hover {
    color: #ffc042;
    transition: color .2s;
}

main {
    padding-bottom: 1rem;
}

main .ui.card {
    background-color: #fff;
    padding: 10px 15px;
}

section {
    padding: 15px 0 5px;
}

h3 {
    margin-bottom: 0;
}

#profile, #posts {
    padding: 20px 7px 5px;
}

#profile > .grid > .column,
#posts > .grid > .column {
    padding: 0.5rem;
}

#go-top {
    margin: 1rem 0;
}

.nav-grid-left {
    border-left: 1px solid #dcdcdc;
}

.nav-grid-right {
    border-right: 1px solid #dcdcdc;
}

.nav-column {
    border: solid #dcdcdc;
    border-width: 0 1px;
    color: #fff;
    text-align: center;
}

.ui.breadcrumb {
    padding: 5px;
}

.ui.cards > .card > .content > .header, .ui.card > .content > .header {
    font-family: inherit;
}

.post-card h4 {
    margin: 10px 0 5px;
}

.form.login {
    padding: 20px 0 0;
}

.keyboard {
    padding: 20px;
}

.keyboard > .button {
    font-size: 24px;
    padding: 10px;
    margin: 5px;
}

.modal h4 {
    margin: 10px 0 5px;
}

@media only screen and (max-width: 767px) {
    #profile, #posts {
        padding: 20px 0 5px;
    }

    #profile > .grid > .column,
    #posts > .grid > .column {
        padding: 0.5rem !important;
    }
}

@media (max-width: 768px) {
    .nav-grid-left {
        border-left: none;
        border-bottom: 1px solid #dcdcdc;
    }

    .nav-grid-right {
        border-right: none;
        border-top: 1px solid #dcdcdc;
    }
}